body {background-color: #F9E79F}
header {background-color: #E67E22}
nav {background-color: #EB984E}
main {background-color: #E67E22}
aside {background-color:#EB984E}
footer {background-color:#D35400}
.imagen {display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
height: auto;}
.subtitulo {text-align: justify;
font-size: medium;
font-family: sans-serif;}
.listas {text-align: center;
font-size: x-large;
font-family: "cocogoose";
color: #E74C3C;
text-decoration: underline;}
.items {font-family: sans-serif;}
.especial {display: block;
margin-left: auto;
margin-right: auto;}
.enlaces {text-align: center;
font-family: sans-serif;
font-size: large;}
.redes {font-family: sans-serif;
font-size: large;}
.icon {width: 2%}
.icon2 {width: 3}
.whatsapp-icon {position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;}
.whatsapp-icon img {width: 70px;
    height: 70px;}
    header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E67E22;
  padding: 10px;
  width: 99%
}

.logococina {
  width: 10vw;
}

.tituloprincipal {
  flex-grow: 1;
  text-align: center;
  font-family: "cocogoose";
  font-size: xx-large;
  color: #E74C3C;
  text-decoration: underline;
}

.social-logos {
  display: flex;
}

.social-logos a {
  margin: 0 10px;
}

.social-logos img {
  width: 40px;
  height: 40px;
}
footer {
display: flex;
align-items: center;
justify-content: space-around;
background-color: #E67E22;
padding: 10px;
}
.social-logos2 {
  display: flex;
}

.social-logos2 a {
  margin: 0 5px;
}

.social-logos2 img {
  width: 40px;
  height: 40px;
}
.info {font-family: sans-serif;
color: #E74C3C;}
nav {  width: 99%;}
main {  width: 99%;}
nav {  width: 99%;}
aside {  width: 99%;}
footer {  width: 99%;}
@font-face { font-family: "cocogoose";
src: url("../fuentes/cocogoose.ttf")
format("truetype");
  }
p {font-family: "cocogoose";
width: 40%;
font-size: 1em;
}
.parrafo {display: flex;
align-items: center;
justify-content: center;}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300&display=swap");
.info {font-family: 'Roboto Slab', serif;}
